<!DOCTYPE html>
<html>
  <%- include("./header.html"); %>
  <body>
    <%- include("./navbar.html"); %>

    <div class=tags style="margin: 0 auto; width: 100%; text-align: center;">
      <span style="margin: 0 auto; width: 100%; text-align: center;">
        <span hx-get="/tags" hx-swap="outerHTML" hx-trigger="load"></span>
      </span>
    </div>

    <div class="content">

      <div hx-get="/featured-posts" hx-swap="outerHTML" hx-trigger="load"></div>
    </div>

    <%- include("./footer.html"); %>
  </body>

  <script>
    var url = new URL(window.location.href);
    var page = url.searchParams.get("page");

    if (page != null) {
      var url = page;
      console.log(url);
      document.querySelector(".content").innerHTML = "<div hx-get=\"" + url + "\" hx-swap=\"outerHTML\" hx-trigger=\"load\"></div>";
    }
  </script>
</html>
