<div class="navbar">
  <a href="/">Home</a>
  <a><div hx-get="/info/news.html" hx-swap="innerHTML" hx-trigger="click" hx-target=".content">News</div></a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
  <a style='float:right' href="/rss"><img class="rss-icon" src="/svgs/solid/rss.svg" alt="rss"></a>
  <a style='float:right'>
    <div hx-get="/user" hx-swap="innerHTML" hx-trigger="load"></div>
  </a>
  <div hx-get="/login-button" hx-swap="outerHTML" hx-trigger="load"></div>
</div>
